@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  border-radius: 30px;
  width: 150px;
  height: 50px;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.selected-color {
  display: none;
}

.content__select-color {
  display: none;
}

.content__active {
  display: block;
}

header.color--black {
  background-image: linear-gradient(to bottom, #a7a7a9, #ffffff);
}

header.color--blue {
  background-image: linear-gradient(to bottom, #cadbeb, #ffffff);
}

header.color--silver {
  background-image: linear-gradient(to bottom, #b6b6b6, #ffffff);
}

header.color--green {
  background-image: linear-gradient(to bottom, #ddead9, #ffffff);
}

header.color--red {
  background-image: linear-gradient(to bottom, #f3d6d1, #ffffff);
}

.header__logo > svg {
  fill: #000000;
}

.header__nav {
  padding-top: 40px;
  padding-bottom: 73px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: 700;
}

.header__btn {
  position: relative;
  background-color: #000000;
  color: #ffffff;
}

.header__content {
  position: relative;
  padding-bottom: 162px;
}

.title {
  font-weight: 700;
  font-size: 210px;
}

.title > span {
  position: absolute;
}

.title--air {
  z-index: 1;
  top: 113px;
  left: 0;
}

.title--pod {
  z-index: 0;
  top: 113px;
  left: 306px;
}

.title--s {
  z-index: 1;
  top: 165px;
  left: 707px;
}

.title--m {
  top: 396px;
  left: 777px;
  z-index: 1;
}

.title--ax {
  z-index: 0;
  top: 531px;
  left: 892px;
}

.header__content-images {
  position: relative;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #000000;
  padding: 50px 40px;
}

.footer__contacts-container {
  margin: 0 auto 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 179px;
  color: #ffffff;
  fill: #ffffff;
}

.footer__list {
  display: flex;
  justify-content: center;
  color: #ffffff;
  gap: 20px;
}

.choose-color {
  margin-top: 46px;
  margin-bottom: 180px;
}

.choose-color__inner {
  margin: 0 auto;
  max-width: 1160px;
}

.choose-color__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 79px;
}

.choose-color__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2222222222;
}

.choose-color__text {
  max-width: 675px;
  text-align: center;
}

.choose-color__list {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 1199px) {
  .choose-color__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.choose-color__btn {
  border: 1px solid #777777;
  border-radius: 20px;
  padding: 50px 55px;
}

.choose-color__btn-toggle {
  display: none;
}

.composition {
  margin-bottom: 180px;
}

.composition__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 40px auto;
}

.composition__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.203125;
}

.composition__text {
  width: 653px;
  text-align: center;
}

.composition__list {
  display: flex;
  justify-content: space-between;
  width: 625px;
  margin: 0 auto;
}

.composition__list--textBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
}

.composition__item-text-active {
  color: #e8b2a9;
}

.composition__item-img-active {
  display: block;
}

.case {
  background-color: #fafafa;
  padding-top: 80px;
  padding-bottom: 98px;
}

.case-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case__title {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.203125;
}

.case__text-top {
  margin-bottom: 40px;
}

.case__text-down {
  width: 403px;
}

.case__title-decorOne {
  margin-top: 160px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.203125;
}

.case__title-decorTwo {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 210px;
  line-height: 1.2095238095;
}

.bidding {
  height: 2043px;
  background-image: url("../images/footer/footer.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.bidding__inner {
  padding-top: 1130px;
  padding-bottom: 70px;
  left: 452px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bidding__text {
  color: #ffffff;
  width: 296px;
  text-align: center;
}

.footer__btn {
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
}/*# sourceMappingURL=main.css.map */