h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

/* Адаптивная настройка изображения */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/*Header*/
.header {
  padding-top: 40px;
}
