.choose-color {
  margin-top: 46px;
  margin-bottom: 180px;
}

.choose-color__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 79px auto;
}

.choose-color__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(44 / 36);
}

.choose-color__text {
  max-width: 675px;
  text-align: center;
}

.chose-color__list {
  display: flex;
  justify-content: space-around;
}

.chose-color__item {
  border: 1px solid #777777;
  border-radius: 20px;
  padding: 50px 55px;
}
